<h1 class="brand-heading">Events for 2015</h1>
<p class="intro-text">Please browse the available events.</p>
<% @events.each do |event| %>
	<h2><%= link_to event.title, event_path(event) %></h2>
	<p> <%= event.description %></p>
<% end %>