<section id="location-information" class="content-section text-center container-fluid">
	<h2><%= @location.name %></h2>
	<p><%= @location.phonenumber %></p>
	<p><%= @location.address %></p>
	<p><%= @location.homepage %></p>
</section>
